<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>房屋信息一览</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h3>
                ACCO-房屋列表
            </h3>

        </div>
        <div class="col-xs-3">
            <div class="btn-group">
                <button class="btn btn-primary" type="button" th:text="${username}"></button>
                <!--<button class="btn">Action</button> -->
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">操作</a>
                    </li>
                    <li>
                        <a href="#">设置栏目</a>
                    </li>
                    <li>
                        <a href="javascript:formSubmit()">注销</a>
                    </li>
                    <!--<li class="divider">-->
                    <!--</li>-->
                    <!--<li class="dropdown-submenu">-->
                    <!--<a tabindex="-1" href="#">更多选项</a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a href="#">操作</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">设置栏目</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">更多设置</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <form th:action="@{/logout}" method="post" id="logoutForm">
            <input type="hidden" value="注销"/>
        </form>
    </div>
    <div th:text="${msg}"></div>
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-list">
                <ul class="nav nav-list">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/r/my-appointment">我的预约</a>
                    </li>
                    <li>
                        <a href="/h/houseInfoList">房屋列表</a>
                    </li>
            </ul>
        </div>
        <div class="col-xs-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>类型</th>
                    <th>地址</th>
                    <th>可住人数</th>
                    <th>租金</th>
                    <th>房东姓名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="obj : ${datas}">
                    <!--<td th:text="${obj.id}">${obj.id}</td>-->
                    <td th:text="${obj.type}">${obj.type}</td>
                    <td th:text="${obj.address}">${obj.address}</td>
                    <td th:text="${obj.pnumber}">${obj.pnumber}</td>
                    <td th:text="${obj.rent}">${obj.rent}</td>
                    <td th:text="${obj.landlordName}">${obj.landlordName}</td>
                    <td>
                        <div id="meet" sec:authorize="hasRole('ROLE_STUDENT')" ><a th:onclick="'javascript:rent(\''+${obj.id}+'\')'">与房东碰面</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
    function rent(hid) {
        console.log(hid)
        $.ajax({
            type:"GET",
            url:'/r/arrange?hid='+hid,
            dataType:"text",
            success:function(response){
                layer.alert(JSON.parse(response).msg);
                console.log(response)
            }
        })
    }
        function formSubmit() {
            document.getElementById("logoutForm").submit();
        }

        /*]]>*/
</script>
</body>
</html>